{
  "swagger": "2.0",
  "info": {
    "title": "Tool",
    "description": "This is a tool api",
    "termsOfService": "http://stack.network/terms-of-service.html",
    "version": "v1"
  },
  "host": "tool.api.kinlane.com",
  "basePath": "/",
  "schemes": [
    "http"
  ],
  "produces": [
    "toollication/json"
  ],
  "paths": {
    "tool/": {
      "get": {
        "summary": "retrieves all tools",
        "description": "pulls all tools, with filter by keyword",
        "operationId": "getTools",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "a text query to search across tool",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "tool response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/tool"
              }
            }
          }
        },
        "tags": [
          "Tools"
        ]
      },
      "post": {
        "summary": "add tool",
        "description": "add a new tool",
        "operationId": "addTool",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "description": "name of the tool",
            "required": true,
            "type": "string"
          },
          {
            "name": "description",
            "in": "query",
            "description": "description of the tool",
            "required": true,
            "type": "string"
          },
          {
            "name": "url",
            "in": "query",
            "description": "url for the tool",
            "required": true,
            "type": "string"
          },
          {
            "name": "tags",
            "in": "query",
            "description": "tags for the tool",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "tool response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/tool"
              }
            }
          }
        },
        "tags": [
          "Tools"
        ]
      }
    },
    "tool/{slug}": {
      "get": {
        "summary": "Retrieve a tool using its slug",
        "description": "Returns the tool detail",
        "operationId": "getTool",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "description": "slug for the tool, notice this is in the path, not a query variable",
            "required": "true",
            "type": "integer",
            "format": "id"
          }
        ],
        "responses": {
          "200": {
            "description": "tool response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/tool"
              }
            }
          }
        },
        "tags": [
          "Tools"
        ]
      },
      "put": {
        "summary": "update tool",
        "description": "update tool",
        "operationId": "updateTool",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "description": "unique slug for the tool",
            "required": true,
            "type": "string"
          },
          {
            "name": "name",
            "in": "query",
            "description": "name of the tool",
            "required": true,
            "type": "string"
          },
          {
            "name": "description",
            "in": "query",
            "description": "description of the tool",
            "required": true,
            "type": "string"
          },
          {
            "name": "url",
            "in": "query",
            "description": "url for the tool",
            "required": true,
            "type": "string"
          },
          {
            "name": "tags",
            "in": "query",
            "description": "tags for the tool",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "tool response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/tool"
              }
            }
          }
        },
        "tags": [
          "Tools"
        ]
      },
      "delete": {
        "summary": "delete tool",
        "description": "deletes an tool",
        "operationId": "deleteTool",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "description": "unique slug for the tool",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "tool response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/tool"
              }
            }
          }
        },
        "tags": [
          "Tools"
        ]
      }
    }
  },
  "definitions": {
    "tool": {
      "properties": {
        "name": {
          "description": "name of the tool",
          "type": "string",
          "format": "label"
        },
        "description": {
          "description": "description of the tool",
          "type": "string"
        },
        "url": {
          "description": "url for the tool",
          "type": "string"
        },
        "tags": {
          "description": "tags for the tool",
          "type": "string"
        },
        "slug": {
          "description": "slug for the tool",
          "type": "string",
          "format": "id"
        }
      }
    },
    "errorModel": {
      "required": [
        "code",
        "message"
      ],
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "type": "string"
        }
      }
    }
  }
}
